.blogs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-inline: 10%;
    padding-top: 5%;
    margin-bottom: 200px;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}