.skills-container{
    display: flex;
    flex-direction: column;
    display: flex;
    
}
.skills-title{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    text-align: center;
}

.skill-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
